@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html
{
    scroll-behavior: smooth;
}

body
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

#header-section
{
    background-color: whitesmoke;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-section a
{
    text-decoration: none;
    color: black;
    font-size: large;
    margin-left: 30px;
}

#header-section button
{
    padding: 15px;
    background-color: rgb(0, 110, 255);
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-right: 30px;
    font-size: 90%;
}

#header-section button:hover
{
    transition: 0.7s;
    background-color: blue;
}

#top-section, #bottom-section
{
    background-image: url(img/bg-masthead.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 40px;
    position: relative;
}

#overlay-effect
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(73, 94, 189, 0.5);
    z-index: 1;
}

#top-section-content, #bottom-section-content
{
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#top-section h1
{
    font-size: 3em;
    text-align: center;
}

#top-section p, #bottom-section p
{
    font-size: large;
    text-align: center;
}

.email-input
{
    font-size: large;
    padding: 20px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
}

.email-input:focus
{
    outline: none;
}

.wrong-email
{
    outline: 1px solid red;
}

.correct-email
{
    outline: 3px solid rgb(21, 150, 255);
}

#top-section button, #bottom-section button
{
    padding: 20px;
    background-color: rgb(0, 110, 255);
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: large;
}

#top-section button:hover, #bottom-section button:hover
{
    transition: 0.7s;
    background-color: blue;
}

#icon-section
{
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

#icon-section div
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    text-align: center;
}

#icon-section p
{
    font-size: large;
    font-weight: 10;
}

#icon-section i
{
    color: rgb(0, 110, 255);
    font-size: 500%;
    margin: 20px;
}


/****************************************************/

.rightPic, .leftPic
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.rightPic img, .leftPic img
{
    width: 100%;
    height: 490px;
}

.text-content
{
    box-sizing: border-box;
    width: 50%;
    padding: 50px;
    font-size: 120%;
}

.pic-content
{
    width: 50%;
}

/****************************************************/

#profile-section
{
    background-color: whitesmoke;
    padding: 40px;
    text-align: center;
}

#profile-container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#profile-container div
{
    padding: 30px;
    width: 33%;
}

#profile-container img
{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px;
}

#profile-container h1, h2
{
    text-align: center;
}

#profile-container p
{
    text-align: center;
}

#bottom-section
{
    height: 40vh;
}

#bottom-section h1
{
    font-size: 2em;
    text-align: center;
}

#footer-section
{
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

#footer-section p
{
    font-size: small;
    font-weight: 10;
    color: rgb(153, 153, 153);
}

#footer-section ul li
{
    list-style: none;
    display: inline;
}

#footer-section i
{
    padding: 10px;
    font-size: 150%;
}

#footer-section a
{
    color:rgb(21, 150, 255);
}

#footer-section a:hover
{
    transition: 0.3s;
    color: blue; 
}

@media screen and (max-width: 900px)
{
    #icon-section
    {
        flex-direction: column;
    }

    .rightPic
    {
        flex-direction: column-reverse;
    }

    .leftPic
    {
        flex-direction: column;
    }

    .pic-content
    {
        width: 100%;
    }

    #profile-container
    {
        flex-direction: column;
    }

    #profile-container div
    {
        width: 100%;
    }

    #footer-section
    {
        flex-direction: column;
    }
}